#app {
  height: 100%;
}

.color-success {
  color: #67C23A;
}

.color-warning {
  color: #E6A23C;
}

.color-danger {
  color: #F56C6C;
}

.color-Info {
  color: #909399;
}

.link-name {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pre-wrap {
  white-space: pre-wrap;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// my-descriptions-content
.my-descriptions-title {
  display: flex;
  margin-bottom: 16px;

  span {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #303133;
    text-align: center;
  }
}

// 我的信息 descriptions label
.my-descriptions-label {
  width: 16%;
}

// 我的信息 descriptions content
.my-descriptions-content {
  width: 34%;
 .el-form-item {
  margin-bottom: 0 !important;
 }
}

// 匹配单 descriptions label
.my-match-label {
  width: 12.5%;
}


.quote-inlay-label {
  width: 10%;
  padding: 8px !important;
}

.quote-inlay-content {
  width: 15%;
  padding: 8px !important;
  .el-form-item {
    margin: 0 !important;
   }
}


// 列表页基础样式
.content {
  .content-control {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 0 12px;
    margin-bottom: 10px;
    background-color: #f5f7fc;

    .btn-line {
      display: flex;
      justify-content: flex-end;
      margin-left: 80px;
    }
  }

  .content-button {
    display: flex;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #f5f7fc;
  }

  .content-table {
    margin-bottom: 10px;
    background-color: #ffffff;
  }

  .content-pagination {
    display: flex;
    justify-content: right;
  }
}